* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    width: 800px;
    margin: 0 auto;
    display: grid;
    column-gap: 30px;
    row-gap: 60px;
/*     grid-template-rows:repeat(5,1fr);
 */
  }

  .input-field{
    display: flex;
    gap: 10px;
  }
  .task{
      display: flex;
       height: 50px;
      width: 700px;
      gap: 10px;
      align-items: center;
      justify-content: center;
      border: 2px solid #1098ad;

  
  }

  .Completed-title{
    display: flex;
    gap:10px;
    margin-bottom: 20px;
    align-items: center;

  }

.Completed-task{
    display: flex;
    gap: 10px;

}

h3{
  display: inline-block;
  width: 500px;
}